<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3eFHYuJr-0UoEn0Gy-hTxJSmRvL_DaqY</string>
	<key>GCM_SENDER_ID</key>
	<string>1061125635040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushNotifications.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>push-notification-6ec21</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notification-6ec21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061125635040:ios:30365f564f9a9110a4c985</string>
</dict>
</plist>